<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1027938583977-8mn19sq50hb1s464fieb2g86hu7lf4vf.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1027938583977-8mn19sq50hb1s464fieb2g86hu7lf4vf</string>
	<key>API_KEY</key>
	<string>AIzaSyDfacxxGV9JUupDHQYGUli_5AE2xuDeSac</string>
	<key>GCM_SENDER_ID</key>
	<string>1027938583977</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.lovedog</string>
	<key>PROJECT_ID</key>
	<string>lovedog-b6300</string>
	<key>STORAGE_BUCKET</key>
	<string>lovedog-b6300.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1027938583977:ios:0ee45df12e3f60033f30b8</string>
</dict>
</plist>